h1, h2, h3, h4, h5, h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

a {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: #757575;
  &:focus, &:hover {
    color: #f2f2f2;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: #fff;
  }
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url(../img/bg-pattern.png), #7b4397;
  background: url(../img/bg-pattern.png), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url(../img/bg-pattern.png), linear-gradient(to left, #2C5C7F, #7B5C7F);
  color: #fff;
}
form {
  text-align: center;
  padding-top: 150px;
  position: relative;
}

header {
  .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 30px;
      }
      .list-badges {
        margin-bottom: 25px;
        img {
          height: 50px;
          margin-bottom: 25px;
        }
      }
    }
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
    .screen img {
      border-radius: 3px;
    }
  }
}

.login-form {
  font-size: 18px;
  font-family: Lato;
  label {
    font-weight: 200;
    border-bottom: 20px;
  }
}

input {
  &[type="submit"] {
    width: 100%;
    height: 47px;
    border-radius: 6px;
    border: 0 none;
    background-color: #3b5998;
    font-size: 15px;
    letter-spacing: 2.8px;
    padding: 10px;
    color: #ffffff;
    margin-top: 40px;
  }
  &[type="text"] {
    background: transparent;
    border: none;
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid #ffffff;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 2.8px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      text-align: left;
      padding: 0;
      height: 100vh;
      .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          font-size: 35px;
        }
      }
    }
    .device-container {
      max-width: none;
      max-height: calc(0vh);
      margin: 100px auto 0;
    }
  }
}

footer {
  text-align: center;
}

section {
  &.contact {
    text-align: center;
  }
  padding: 100px 0;
  h2 {
    font-size: 50px;
  }
  &.download {
    padding: 150px 0;
    position: relative;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    .badges .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  &.features {
    .section-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container, .feature-item {
      max-width: 300px;
      margin: 0 auto;
    }
    .device-container {
      margin-bottom: 100px;
    }
    .feature-item {
      text-align: center;
      margin-bottom: 100px;
    }
  }
  &.contact h2, &.cta .cta-content h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  &.features .feature-item {
    h3 {
      font-size: 30px;
    }
    i {
      font-size: 80px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: linear-gradient(to left, #2C5C7F, #7B5C7F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.cta {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/vr.jpg);
    padding: 350px 0;
    .cta-content {
      position: relative;
      z-index: 1;
      h2 {
        color: #fff;
        max-width: 450px;
        font-size: 50px;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  section.download {
    .badges .badge-link {
      display: inline-block;
      margin-bottom: 0;
    }
    h2 {
      font-size: 70px;
    }
  }
}

@media (min-width: 992px) {
  section.features {
    .device-container {
      margin-bottom: 0;
      max-width: none;
    }
    .feature-item {
      max-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

footer ul {
  margin-bottom: 0;
}

section.contact {
  ul.list-social {
    margin-bottom: 0;
  }
  h2 i {
    color: #dd4b39;
  }
  ul.list-social li a {
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 100%;
    color: #fff;
  }
}

footer {
  p {
    font-size: 12px;
  }
  ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
  }
  color: rgba(255, 255, 255, 0.3);
}

section.contact ul.list-social li {
  &.social-twitter a {
    background-color: #1da1f2;
    &:hover {
      background-color: #0d95e8;
    }
  }
  &.social-facebook a {
    background-color: #3b5998;
    &:hover {
      background-color: #344e86;
    }
  }
  &.social-google-plus a {
    background-color: #dd4b39;
    &:hover {
      background-color: #d73925;
    }
  }
}

footer {
  background-color: #222;
  padding: 25px 0;
  p {
    margin: 0;
  }
  ul li a {
    &.active, &:active, &:focus, &:hover {
      text-decoration: none;
    }
  }
}

.bg-primary {
  background: #252525;
  background: -webkit-linear-gradient(#2C5C7F, #2C5C6B);
  background: linear-gradient(#2C5C7F, #2C5C6B);
}

.text-primary {
  color: #252525;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: #fff;
  border: 1px solid;
  &.active, &:active, &:focus, &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #252525;
  }
}

.btn {
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

::-moz-selection, ::selection {
  color: #fff;
  text-shadow: none;
  background: #222;
}

img {
  &::selection, &::-moz-selection {
    color: #fff;
    background: 0 0;
  }
}
